label {
    font-weight: bold;
}
td, th {
    padding: 10px;
}
body {
    background-color: rgb(128, 0, 111);
    color: white;
}
a {
    color: red;
}
a:visited {
    color: white;
}
.list {
    background-color: blue;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}
fieldset {
    border-radius: 20px;
    background-color: blue;

}
input, button {
    border-radius: 20px;
    padding: 10px;
}
table {
    background-color: blue;
}
* {
    font-family: system-ui;
}