<!DOCTYPE html>
<head>
    <title>Removed</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div >
    <h1>Removed All <%- reason %> Meetings</h1>
<br>
     <button onclick="document.location = '/'" >HOME</button>
   
</div>
</body>
</html>